body{
    margin:0;
    padding:0;
    font-family:sans-serif;
    background-image:url("image.jpg");
}
.f1{
    width:300px;
    padding:50px;
    position:absolute;
    border:2px solid #3498db;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:none;
    text-align:center;
}
.f1 input[type="text"],.f1 input[type="password"]{
    border:0;
    background:transparent;
    display:block;
    margin:20px auto;
    text-align:center;
    border:2px solid #3498db;
    padding:14px 10px;
    width:200px;
    outline:none;
    color:white;
    border-radius:24px;
    transition:0.25s;
}
.f1 h1{
    color:white;
    text-transform:uppercase;
    font-weight:500;
}
.f1 input[type="text"]:hover,.f1 input[type="password"]:focus{
    width:280px;
    border-color:#2ecc71;
}
.f1 input[type="submit"]{
        border:0;
    background:none;
    display:block;
    margin:20px auto;
    text-align:center;
    border:2px solid #2ecc71;
    padding:14px 40px;
    outline:none;
    color:white;
    border-radius:24px;
    transition:0.25s;
    cursor:pointer;
}
.f1 input[type="submit"]:hover{
    background:#2ecc71;
}
.f1 p{
    color:#34495e;
}